cloud_id                 = ""
subnet_id                = ""
folder_id                = ""
service_account_key_file = "./files/key.json"
image_id                 = ""
public_key_path          = "~/.ssh/ubuntu.pub"
private_key_path         = "~/.ssh/ubuntu"
instance_count           = 2
db_disk_image            = ""
app_disk_image           = ""
service_account_id       = ""
network_id               = ""
